################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/asp.web-api-core-logging/bin/Debug/netcoreapp2.0
/asp.web-api-core-logging/obj
